# [Begin ignore without extensions]
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# [End ignore without extensions]

*.exe
.idea
.vscode
*.prof
*.log
*.cfg*
config.toml
*.png
*.db
bt-macs.toml
.DS_Store
esp32/secrets.yaml
esp32/.DS_Store
